/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
.idea/*
/public/css/*
/public/js/*
/public/fonts/*
/public/build/css/*
/public/build/fonts/*
/public/build/js/*
/public/build/rev-manifest.json
/public/images/uploaded/*
/public/albums/*