$lightgray: #ccc;
$darktext: #333;
$darklesstext: #444;

body.main {
	.section {
		text-align: center;
	}
	@media only screen and (min-width : 768px) {
		.navbar .navbar-nav {
	    	display: inline-block;
	    	float: none;
		}

		.navbar .navbar-collapse {
	    	text-align: center;
		}
		.navbar-brand {
			position: absolute;
		}
	}
	.navbar-default {
		min-height: 50px;
    	height: 50px;
	}
	.navbar-nav {
    	margin: 0 -15px!important;
	}
	body {
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #000;
	}
	h1, h2, h3, h4, h5, h6, .navbar-brand, .navbar-default{
		text-transform: uppercase;
	}
	.navbar-brand {
		color: #000;
	}
	ul.services {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.album-title {
		display: none;
	}
	.album-description {
		margin-top: 8px!important;
		text-transform: uppercase;
	}
	/*
	
	margin-top: 0px;
	h1 {
		font-size: 16px;
		font-weight: bold;
		padding: 0;
		margin: 0 0 20px 0;
		color: $darktext;
	}
	ul.menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			a {
				color: $darktext;
				}
			ul {
				list-style-type: none;
				margin: 0 0 10px 30px;
				padding: 0;
				li {
					a {
						color: $darktext;
					}
				}
			}
		}
	}
	.social {
		margin-left: 30px;
		margin-top: 10px;
		a {
			font-size: 38px;
			margin: 5px;
			color: $darklesstext;
		}
	}
	.content {
		margin-top: 40px;
	}
	*/
}

body.admin {
	padding-top: 70px;

	.image-table {
		img {
			width: 100px;
		}
	}

	#images {
		background-color: $lightgray;
		padding: 0 4px 0 0;
		margin: 0;
		display: inline-block;
	}

	#images li, #slides .slide ul li, #albums-order .album ul li {
		width: 50px;
		height: 50px;
		display: inline-block;
		cursor: pointer;
		margin: 4px 0 0 4px;
		span {
			background-color: #fff;
			background-size: cover;
			width: 100%;
			height: 100%;
			display: block;
			background-position: center center;
		}	
	}

	#slides, #albums-order {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			position: relative;
			margin-bottom: 20px;
			.drag-handle {
				position: absolute;
				top: 0;
			}
		}
		ul {
			width: 100%;
			display: block;
			min-height: 59px;
			background-color: $lightgray;
			padding: 0;
			margin: 0;
			margin-left: 20px;
		}
		.drag-handle {
			cursor: pointer;
		}
	}

}